server:
  port: 8082

spring:
  application:
    name: EVENT-SERVICE

  datasource:
    url: jdbc:postgresql://localhost:5432/eventdb
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
