server:
  port: 8084

spring:
  application:
    name: PAYMENT-SERVICE

  datasource:
    url: jdbc:postgresql://localhost:5432/paymentdb
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
